{% extends 'landing/base.html' %}
{% load static %}
{% block title %}
<title>Pari Institute | Student Log-In</title>
{% endblock %}
{% block content %}

{% include 'landing/locknav.html' %}
<section class="pb-5 pt-5 bg-600">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 pb-5 pt-5 ps-5 pe-5 bg-200">
                <div class="text-left">
                    <p class="text-danger">{{rmsg}}</p>
                </div>
                <h4 class="font-sans-serif text-primary fw-bold">Log in to your Account</h4>
                <h1 class="mb-6">Student</h1>
                <form class="row g-3" action="{% url 'st_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label><strong>Email</strong></label>
                        <input type="email" class="form-control" placeholder="hello@example.com" name="email"
                            required />
                    </div>
                    <div class="form-group">
                        <label><strong>Password</strong></label>
                        <input type="password" class="form-control" placeholder="Password" name="password" required />
                    </div>
                    <div class="col-auto z-index-2">
                        <button class="btn btn-primary" type="submit">Log-in as Student</button>
                    </div>
                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                        <div class="form-group pull-right">
                            <a href="{% url 'st_frgtpswd' %}">Forgot Password?</a>
                        </div>
                        <div class="form-group pull-left">
                            <a href="{% url 'st_register' %}">Request for an Account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}