{% extends 'landing/base.html' %}
{% load static %}
{% block title %}
<title>Pari Institute | Student Profile</title>
{% endblock %}
{% block content %}
{% include 'student/st_nav.html' %}


<section class="pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <section class="pb-5 pt-5 bg-600 col-12 col-md-12 col-sm-12">
                <div class="container">
                    <h4 class="font-sans-serif text-primary fw-bold">Manage Profile</h4>
                    <h1 class="mb-2">Student</h1>
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <h4 class="text-primary mb-4">Picture</h4>
                            <div class="card mb-2 mb-md-0 h-60 w-80">
                                <img class="card-img-top rounded float-end w-100"
                                    style="width: 100%; height: 100%; object-fit: cover;" src="{{ stid.pic.url }}"
                                    alt="pic" />
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <h4 class="text-primary mb-4">Personal Information</h4>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body px-4 py-3 py-md-4 py-lg-4">
                                      <div class="d-flex justify-content-start text-secondary"><span class="display-5 fw-bold">{{ stid.fname }} {{ stid.lname }}</span>
                                      </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Email Address</strong>: {{ stid.email }}</li>
                                        <li class="list-group-item"><strong>Mobile No. </strong>: {{ stid.mobile }}</li>
                                        <li class="list-group-item"><strong>Date of Birth </strong>: {{ stid.dob }}</li>
                                        <li class="list-group-item"><strong>Qualification </strong>: {{ stid.qualification }}</li>
                                        <li class="list-group-item"><strong>Father's Name </strong>: {{ stid.fathers_nm }}</li>
                                        <li class="list-group-item"><strong>Mother's Name </strong>: {{ stid.mothers_nm }}</li>
                                        <li class="list-group-item"><strong>Document Type </strong>: {{ stid.doc_type }}</li>
                                        <li class="list-group-item"><strong>Document Num </strong>: {{ stid.doc_num }}</li>                                        
                                        <li class="list-group-item"><strong>Address </strong>: {{ stid.address }}</li>
                                        <li class="list-group-item text-center"><img
                                                src="{% static 'landing/assets/img/gallery/searching.png' %}" width="78" alt="..." />
                                            <p class="text-muted mb-0 mt-4">Registered At: {{ stid.created_at}}</p> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="pb-5 pt-5 bg-600 col-12 col-md-12 col-sm-12">
                <div class="container">
                    <div class="text-left">
                        <p class="text-success">{{gmsg}}</p>
                    </div>
                    <div class="text-left">
                        <p class="text-danger">{{rmsg}}</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h4 class="text-primary">
                                Course Details
                            </h4>
                            <h1>Student</h1>
                            <div class="row">
                                {% for one in batch %}
                                <div class="col-12 col-md-6 mt-3 mb-1">
                                  <div class="card h-100">
                                    <img class="card-img-top w-100" style="width: 100%; height: 300px; object-fit: cover;"
                                      src="{{ one.course.pic.url }}" alt="courses" />
                                    <div class="card-body">
                                      <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">
                                        {{ one.course.name }}
                                      </h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item"><strong>Starting Date </strong>: {{ one.start_dt }}</li>
                                      <li class="list-group-item"><strong>Timing </strong>: {{ one.timing }}</li>
                                      <li class="list-group-item"><strong>Faculty </strong>: {{ one.faculty.fname }} {{ one.faculty.lname }}</li>
                                      <li class="list-group-item"><strong>Duration </strong>: {{ one.course.duration }}</li>
                                      <li class="list-group-item"><strong>Lectures </strong>: {{ one.course.lectures }}</li>
                                      <li class="list-group-item"><strong>Categories </strong>: {{ one.course.categories }}</li>
                                      <li class="list-group-item"><strong>Level </strong>: {{ one.course.level }}</li>
                                      <li class="list-group-item text-center">
                                        <p class="text-muted mb-0 mt-0">Created At: {{one.created_at}}</p>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 pt-4">
                            <h4 class="text-primary">Update Password</h4>
                            <form class="row g-3" action="{% url 'st_paswrdUpdate' %}" method="POST">
                                {% csrf_token %}
                                <div class="col-12 col-sm-6 col-md-12">
                                    <label class="form-label" for="inputCategories">Current Pasword</label>
                                    <input type="password" name="crntpswd" class="form-control" required />
                                </div>
                                <div class="col-12 col-sm-6 col-md-12">
                                    <label class="form-label" for="inputCategories">Enter New Password</label>
                                    <input type="password" name="nwpswd" class="form-control" required />
                                </div>
                                <div class="col-12 col-sm-6 col-md-12">
                                    <label class="form-label" for="inputCategories">Confirm New Password</label>
                                    <input type="password" name="cnfnwpswd" class="form-control" required />
                                </div>
                                <div class="col-auto z-index-2">
                                    <button class="btn btn-primary" type="submit">Update Your Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


{% endblock %}