{% extends 'landing/base.html' %}
{% load static %}
{% block content %}

{% include 'landing/nav.html' %}


<section class="pb-5 pt-5 bg-600 col-12 col-md-12 col-sm-12" id="home" style="margin-top: -1rem">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end">
        <img class="pt-7 pt-md-0 w-100" src="{% static 'landing/assets/img/gallery/hero-header.png' %}" width="470"
          alt="hero-header" />
      </div>
      <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
        <h4 class="fw-bold font-sans-serif">Become Computer Master</h4>
        <h1 class="fs-6 fs-xl-7 mb-5">
          Learn Future Ready Skills, Find Best Courses
        </h1>
        <a class="btn btn-primary me-2" href="#contact" role="button">Contact Us</a><a class="btn btn-outline-secondary"
          href="#achievements" role="button">Achievements</a>
      </div>
    </div>
  </div>
</section>
<section class="py-0" style="margin-top: -2rem">
  <div class="container">
    <div class="row">
      <div class="card card-span bg-secondary">
        <div class="card-body">
          <div class="row flex-center gx-0">
            <div class="col-lg-4 col-xl-2 text-center text-xl-start">
              <img src="{% static 'landing/assets/img/gallery/funfacts.png' %}" width="170" alt="..." />
            </div>
            <div class="col-lg-8 col-xl-4">
              <h1 class="text-light fs-lg-4 fs-xl-5">
                Upcoming Our
                <span class="text-primary">Basic in Python </span>Course!
              </h1>
            </div>
            <div class="col-lg-12 col-xl-6">
              <h1 class="display-1 text-light text-center text-xl-end">
                11:02:45:21
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'landing/courses.html' %}


{% include 'landing/faculty.html' %}


<section id="achievements">
  <div class="bg-holder" style="
                background-image: url('{% static 'landing/assets/img/gallery/funfacts-2-bg.png' %}' );
                background-position: center;
                background-size: cover;
              ">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 text-center mb-5">
        <img src="{% static 'landing/assets/img/gallery/published.png' %}" height="100" alt="..." />
        <h1 class="my-2">{{ coursec }}</h1>
        <p class="text-info fw-bold">COURSES PUBLISHED</p>
      </div>
      <div class="col-sm-6 col-lg-3 text-center mb-5">
        <img src="{% static 'landing/assets/img/gallery/instructors.png' %}" height="100" alt="..." />
        <h1 class="my-2">{{ facultyc }}</h1>
        <p class="text-info fw-bold">EXPERT INSTRUCTORS</p>
      </div>
      <div class="col-sm-6 col-lg-3 text-center mb-5">
        <img src="{% static 'landing/assets/img/gallery/learners.png' %}" height="100" alt="..." />
        <h1 class="my-2">{{ studentc }}</h1>
        <p class="text-info fw-bold">HAPPY LEARNERS</p>
      </div>
      <div class="col-sm-6 col-lg-3 text-center mb-5">
        <img src="{% static 'landing/assets/img/gallery/awards.png' %}" height="100" alt="..." />
        <h1 class="my-2">32</h1>
        <p class="text-info fw-bold">AWARDS ACHIEVED</p>
      </div>
    </div>
  </div>
</section>

{% include 'landing/superuser.html' %}

<section class=" bg-600" id="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="{% static 'landing/assets/img/gallery/cta.png' %}" width="280" alt="cta" />
      </div>
      <div class="col-md-6 col-lg-5">
        <h5 class="text-primary font-sans-serif fw-bold">
          Contact Us
        </h5>
        <h1 class="mb-5">Get every single<br />update you will get</h1>
        <form class="row g-0 align-items-center">
          <div class="col">
            <div class="input-group-icon">
              <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email "
                aria-label="email" /><i class="fas fa-envelope input-box-icon"></i>
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary rounded-0" type="submit">
              Subscribe now
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}