{% extends 'landing/base.html' %}
{% load static %}
{% block title %}
<title>Pari Institute | SuperUser Batch</title>
{% endblock %}
{% block content %}

{% include 'superuser/s_nav.html' %}

<section class="pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <section class="pb-5 pt-5 bg-600 col-12 col-md-12 col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-left">
                                <p class="text-success">{{gmsg}}</p>
                            </div>
                            <div class="text-left">
                                <p class="text-danger">{{rmsg}}</p>
                            </div>
                            <h4 class="font-sans-serif text-primary fw-bold">Create New Batch</h4>
                            <h1 class="mb-6">Superuser</h1>
                            <form class="row g-3" action="{% url 's_batch' %}" method="POST">
                                {% csrf_token %}
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label class="form-label" for="inputCategories">Starting Date</label>
                                    <input type="date" name="stdate" class="form-control" id="pastdate" required />
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label class="form-label" for="inputCategories">Batch Timing</label>
                                    <select class="form-select" name="timing" required>
                                        <option value="07:00">07:00</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label" for="inputLanguage">Course</label>
                                    <select class="form-select" id="inputLanguage" name="corsnm">
                                        {% for one in course %}
                                        <option value="{{ one.id }}">{{ one.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <label class="form-label" for="inputInstructor">Faculty</label>
                                    <select class="form-select" id="inputInstructor" name="faculty">
                                        {% for one in faculty %}
                                        <option value="{{ one.id }}">{{ one.fname }} {{ one.lname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-auto z-index-2">
                                    <button class="btn btn-primary" type="submit">Create New Batch</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="pb-5 pt-5 bg-600 col-12 col-md-12 col-sm-12">
                <div class="container">
                    <div class="row pt-4">
                        <h1 class="text-center">Existing Batches</h1>
                        {% for one in batches %}
                        <div class="col-12 col-md-4 mt-7 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top w-100" style="width: 100%; height: 300px; object-fit: cover;"
                                    src="{{ one.course.pic.url }}" alt="courses" />
                                {% if one.is_active %}
                                <div class="text-center mb-0">
                                    <span class="badge bg-black fw-normal text-uppercase bg-primary">Active</span>
                                </div>
                                {% else %}
                                <div class="text-center mb-0">
                                    <span class="badge bg-black fw-normal text-uppercase bg-secondary">Inactive</span>
                                </div>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">
                                        {{ one.course.name }} {{ one.start_dt }}
                                    </h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Starting Date </strong>: {{ one.start_dt }}</li>
                                    <li class="list-group-item"><strong>Faculty </strong>: {{ one.faculty.fname }} {{ one.faculty.lname }}</li>
                                    <li class="list-group-item"><strong>Duration </strong>: {{ one.course.duration }}</li>
                                    <li class="list-group-item"><strong>Lectures </strong>: {{ one.course.lectures }}</li>
                                    <li class="list-group-item"><strong>Timing </strong>: {{ one.timing }}</li>
                                    <li class="list-group-item text-center">
                                        <p class="text-muted mb-0 mt-0">Created At: {{one.created_at}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-grid pt-3">
                                <a class="btn btn-lg btn-info" href="{% url 's_batchDetail' one.id %}">View in
                                    Detail</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script>
    //restrict past date
    var today = new Date();
    var dd = today.getDate() + 1;
    var mm = today.getMonth() + 1; //January is 01
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }
    minDate = yyyy + '-' + mm + '-' + dd;
    document.getElementById("pastdate").setAttribute("min", minDate);

</script>

{% endblock %}